<!--
  Generated template for the SearchproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>Category</ion-label>
    <ion-select [(ngModel)]="category" name="category" multiple="false" okText="Okay!">
      <ion-option value="0">Tecnology</ion-option>
      <ion-option value="1">Cars</ion-option>
      <ion-option value="2">Home</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Max price</ion-label>
    <ion-label>{{range}} €</ion-label>
    <ion-range min="0" max="10000" [(ngModel)]="range" color="secondary">
      <ion-label range-left>0€</ion-label>
      <ion-label range-right>10000€</ion-label>
    </ion-range>
  </ion-item>

  <ion-label>Seller</ion-label>
  <ion-searchbar [(ngModel)]="usuario" type="text" autocomplete="on" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let usuario of USUARIOS">
      {{ usuario.name }}
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
    <button block (click)="filter()" ion-button>Filter</button>
</ion-footer>