<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>Register</strong> Start Theme
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon item-start class="text-primary"></ion-icon>
          Name
        </ion-label>
        <ion-input [(ngModel)]="userR" name="userR" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input [(ngModel)]="emailR" name="emailR" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input [(ngModel)]="passwordR" name="passwordR" type="password"></ion-input>
      </ion-item>
    </form>

    <div margin-top>
      <button ion-button icon-start block color="dark" tappable tappable (click)="register()">
        SIGN UP
      </button>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">I have an account</span>
    </div>

  </div>
</ion-content>