<ion-header>
  <ion-navbar hideBackButton id="barranav">

    <ion-buttons left>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>
    <ion-searchbar (ionInput)="searchBar()" [(ngModel)]="textoBusqueda" id="buscador"></ion-searchbar>
    
    <ion-buttons end>
    <button (click)="search()" clear float-right ion-button>
      <ion-icon name="options"></ion-icon>
    </button>
  </ion-buttons>
    
  </ion-navbar>
  
</ion-header>

<ion-menu [content]="mycontent">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>

<ion-content padding>
  <ion-card *ngFor="let Producto of PRODUCTOS; index as i">

    <ion-item>
      <h1>{{Producto.name}}</h1>
      <h2>{{useridToName(Producto.userid)}}</h2>
      <p>{{Producto.price}}€</p>
    </ion-item>

    <img src="../../assets/imgs/{{Producto.image}}">

    <ion-card-content>
        <ion-col align-self-center text-center>
            <ion-note color="dark">
              Category: {{categoryidToString(Producto.category)}}
            </ion-note>
          </ion-col>
      <p>{{Producto.description}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button *ngIf="sessionId!=Producto.userid" (click)="contact(i)" ion-button icon-start clear small>
          <ion-icon name="mail"></ion-icon>
          <div>Contact</div>
        </button>
      </ion-col>
      <ion-col>
        <button (click)="modfyProduct(i)" color="secondary" *ngIf="sessionId==Producto.userid" ion-button icon-start clear small>
          <ion-icon name="create"></ion-icon>
          <div>Modify</div>
        </button>
      </ion-col>
      <ion-col>
        <button (click)="deleteProduct(i)" color="danger" *ngIf="sessionId==Producto.userid" ion-button icon-start clear small>
          <ion-icon name="trash"></ion-icon>
          <div>Delete</div>
        </button>
      </ion-col>

    </ion-row>

  </ion-card>

  <ion-fab right bottom>
    <button ion-fab (click)="addProduct()" color="light"><ion-icon name="add-circle"></ion-icon></button>
  </ion-fab>
</ion-content>