<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>
      Session data
    </ion-list-header>
    <ion-item>
      <ion-icon name="mail-open" item-start></ion-icon>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="email" name="email"  type="text" value=""></ion-input>
    </ion-item>
    <ion-list-header>
      Personal data
    </ion-list-header>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label floating>Name</ion-label>
      <ion-input [(ngModel)]="name" name="name" type="text" value=""></ion-input>
    </ion-item>

    <ion-list-header>
      Preferences
    </ion-list-header>
    <ion-item>
      <ion-icon name="brush" item-start></ion-icon>
      <ion-label floating>Theme</ion-label>
      <ion-select [(ngModel)]="theme" name="theme" multiple="false" okText="Okay!">
        <ion-option value="0">Default</ion-option>
        <ion-option value="1">Blue</ion-option>
        <ion-option value="2">Red</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer><button (click)="saveSettings()" block ion-button>Save</button></ion-footer>