<!--
  Generated template for the AddproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
        <ion-label floating>
          Name
        </ion-label>
        <ion-input [(ngModel)]="name" name="name" type="text"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>
          Price
        </ion-label>
        <ion-input [(ngModel)]="price" name="price" type="number"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Category</ion-label>
        <ion-select [(ngModel)]="category" name="category" multiple="false" okText="Okay!">
          <ion-option value="0" selected="true">Tecnology</ion-option>
          <ion-option value="1">Cars</ion-option>
          <ion-option value="2">Home</ion-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Delivery</ion-label>
        <ion-select [(ngModel)]="pickup" name="pickup" multiple="false" okText="Okay!">
          <ion-option value="0" selected="true">Courier</ion-option>
          <ion-option value="1">Hand</ion-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label floating>
          Description
        </ion-label>
        <ion-textarea [(ngModel)]="description" name="description"></ion-textarea>
      </ion-item>

      <button block (click)="addImage()" ion-button>Image</button>

</ion-content>

<ion-footer>
    <button block (click)="add()" ion-button>Add</button>
  </ion-footer>